    .div1 {
        background-image: url("./img/img1.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    
    .h1 {
        color: grey;
    }